@{
    ViewData["Title"] = "Games";

}
@model CreateGameFromViewModel


<div class="my-4 align-content-center d-flex justify-content-center ">
    <a asp-controller="games" asp-action="Create" type="button" class="btn btn-outline-success btn-lg">
        <i class="bi bi-plus-circle"></i>
        Add Games
    </a>
</div>
